@using AtomicSeller.Helpers
@using AtomicSeller.Helpers.Navigation
@using AtomicSeller.Helpers.Razor
@using AtomicSeller.Helpers.Razor.HtmlExtensions
@using AtomicSeller.Resources

@{
    ViewBag.Title = Local.TranslatedMessage("MITFAFquickProcessToolStripMenuItem");
    ViewBag.ShowH2 = false;
    ViewBag.PageCol = HtmlConsts.Dimens.DefaultPageCol;
    ViewBag.PageColOffset = HtmlConsts.Dimens.DefaultPageColOffset;
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.PanelWrap("AtomicSeller"))
        {
        <div class="panel-body">
            <p>Welcome</p>

            <a href="@Url.Action("Transport_quote", "Home")"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="Transport quote">
                <i class="mdi mdi-file-pdf-box"></i>Transport quote
            </a>

            <a href="@Url.Action("Transport_shipment", "Home")"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="Transport shipment">
                <i class="mdi mdi-file-pdf-box"></i>Transport shipment
            </a>

            <a href="@Url.Action("Transport_tracking", "Home")"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="Transport tracking">
                <i class="mdi mdi-file-pdf-box"></i>Transport tracking
            </a>

            <a href="@Url.Action("Transport_proof_of_delivery", "Home")"
               class="btn btn-primary"
               data-toggle="tooltip"
               title="Transport proof of delivery">
                <i class="mdi mdi-file-pdf-box"></i>Transport proof of delivery
            </a>
        </div>
        }
    </div>
</div>